<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="/static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<style>
div.menu{
	background-color: #fff;
	max-width: 190px;
	float: left;
	text-decoration: #color:white;
}
div.relative {
    position: relative;
    left: 190px;
}
div.rel2 {
    position: relative;
    left: 100px;
}
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 80%;
}

li a.active {
    background-color: #2056ac;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</style>
<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container-fluid">
		<div id="logo">
        	<a href = "http://www.iet.dauniv.ac.in/"><img src="/static/logo.png"; width="150" height="150"/></a>
			<h2><a style = "font-size:120%";>Training &amp; Placement</a></h2>
			<h2><a>Institute of Engineering and Technology, DAVV</a></h2>
		</div>
	</div>
</div>
<div class="wrapper">
	<div id="banner" class="container"></div>
	<div id="welcome" class="menu">
		<ul>
			<li><a href = "#" class = "active">Menu</a></li>
			<li><a href = "/student/reg_students/">Registered students</a></li>
			<li><a href = "/student/elig_cri/">Eligibility Criteria</a></li>
			<li><a href = "#">Upload selected students</a></li>
			<li><a href = "/student/request_news/">Add News</a></li>
			<li><a href = "/student/logout/">Logout</a></li>
		</ul>
	</div>
<div class="wrapper" >
	<div class="relative"><p><img alt="Govind Maheshwari" src="/static/GM.png" height="183" width="200"/></p></div>
	  <div class ="rel2"><h1 >Welcome to T&amp;P Admin Panel!</h1></div>
	  <br />
<p ><br /><strong>Dr. Govind Maheshwari</strong>, Head of the training and placement department of IET-DAVV has been working incessantly for the betterment of this institution, with his consistent efforts, IET is witnessing record placements.</p>
<p >2015 was a remarkable year as for the first time five companies visited IET-DAVV for zero day placement. Apart from this many other renowned companies also come for campus recruitment.</p>
<p >For placement a large number of prospective employers are contacted during the years and the numbers of companies visiting regularly this institute are increasing every year which has reached a large number.</p>
<p >With his great potential IET is expected to become one of the most renowned institutions.</p>
	</div>

</div>
<div id="footer">
	<div class="container">
		<div class="fbox1">
		<span class="icon icon-map-marker"></span>
			<span>Khandwa Road , Indore ,
			<br />Madhya Pradesh-452017,INDIA</span>
		</div>
		<div class="fbox1">
			<span class="icon icon-phone"></span>
			<span>
				Telephone:  91-731-2462311, 2366800,
         					2361116, 2361117 (t)
         					91-731-2764385 (f)
			</span>
		</div>
		<div class="fbox1">
			<span class="icon icon-envelope"></span>
			<span>webmaster@ietdavv.edu.in</span>
		</div>
	</div>
</div>
<div id="copyright">
	<p>&copy; Untitled. All rights reserved. | Designed by <a>KUBER &amp DEVESH</a>.</p>
	<ul class="contact">
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
		<li><a href="#" class="icon icon-facebook"><span></span></a></li>
		<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
		<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
		<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
	</ul>
</div>
</body>
</html>
